services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data_prod:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    restart: always

  redis:
    image: redis:7-alpine
    restart: always

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: sh -c "python manage.py migrate && python manage.py collectstatic --noinput && gunicorn multisarl.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    env_file: .env.prod
    depends_on:
      - db
      - redis
    restart: always

  celery:
    build: ./backend
    command: celery -A multisarl worker -l info
    env_file: .env.prod
    depends_on:
      - backend
      - redis
    restart: always

  celery-beat:
    build: ./backend
    command: celery -A multisarl beat -l info
    env_file: .env.prod
    depends_on:
      - backend
      - redis
    restart: always

  # "Builder" temporaire pour le frontend
  frontend-builder:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    command: npm run build
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - frontend_build:/app/dist
    environment:
      - VITE_API_URL=/api

  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx/nginx.prod.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/staticfiles
      - media_volume:/app/media
      - frontend_build:/usr/share/nginx/html
    ports:
      - "80:80"
    depends_on:
      backend:
        condition: service_started
      frontend-builder:
        condition: service_completed_successfully
    restart: always

volumes:
  postgres_data_prod:
  static_volume:
  media_volume:
  frontend_build: